<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Clima</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="flex-center">
  <br/>
  Clima em São Paulo:<br/><br/>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="cloudy-outline"></ion-icon>
      <ion-label>
       <h3>temperatura: {{ lista.temp }} </h3>
      </ion-label>

    </ion-item>
  </ion-list>
  </div>>
</ion-content>

