<ion-content>

  <div class="container top">
    <img src="/assets/img/LClogo.png" width="" height="120">
  </div>
  <div class="flex-center">
    <ion-card class="container bottom">
      <ion-card-header>
        <ion-card-subtitle color="primary" class="ion-text-center">Acesse sua conta</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-input placeholder="Email" type="email"></ion-input>
        <ion-input placeholder="Senha" type="password"></ion-input>
        <ion-button color="primary" fill="clear" size="full">Esqueci minha senha</ion-button>
        <ion-button expand="block" color="primary">Entrar</ion-button>
           <ion-text color="secondary" class="ion-text-center"><h5>Não tenho conta</h5></ion-text>
           <ion-button expand="block" color="primary" fill="clear">Crair conta</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
