<ion-content>
  <div class="flex-center">
    <ion-card>
     <ion-card-header>
      <ion-card-subtitle color="primary" class="ion-text-center">Crie sua conta</ion-card-subtitle>
     </ion-card-header>
       <ion-card-content>
         <ion-input placeholder="Nome" type="text"></ion-input>
         <ion-input placeholder="Sobrenome" type="text"></ion-input>
         <ion-input placeholder="Email" type="email"></ion-input>
         <ion-input placeholder="Senha" type="password"></ion-input>
         <ion-input placeholder="Confirmar senha" type="password"></ion-input>
         <ion-button expand="block" color="primary">Criar conta</ion-button>
         <ion-text color="secondary" class="ion-text-center"><h5>Ja tenho conta</h5></ion-text>
         <ion-button expand="block" color="primary" fill="clear">Voltar para login</ion-button>
       </ion-card-content>
     </ion-card>
  </div>
</ion-content>
